@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-secondary: #10b981;
  --color-accent: #facc15;

  --color-bg: #f9fafb;
  --color-bg-section: #ffffff;
  --color-text-main: #1f2937;
  --color-text-light: #6b7280;
}
